$lightblue: lightblue;
$darkblue: navy;
$success: #41aa00;

$yellow1: #FFFA66;
$yellow2: #FFF719;
$yellow3: #E8CA0C;
$yellow4: #FFC60D;

$glowDiver: yellow;
$glowShark: red;
$glowBoat: green;
$glowTrash: gray;
