#particles-js {
    position : absolute;
    height:100%;
    width: 95%;
    z-index:0;
    top: 0%;
}

.helix-main{
    height: 300px;
    width: 300px;
    top: 50%;
    left: 50%;
    position:absolute;
    display:block;
    transform: translate(-50%, -50%);
}
.helix-main img{
    height: 300px;
    width: 300px;
}

#helix{
    height: 300px;
    width: 300px;
}
